{{- $name := .Release.Name -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}-config
  labels:
    "app.kubernetes.io/name": {{ $name }}
type: Opaque
stringData:
  config.yaml: |
    debug: {{ .Values.debug }}
    s3:
      region: {{ required "region is required" .Values.s3.region }}
      access_key_id: {{ required "access_key_id is required" .Values.s3.access_key_id }}
      secret_access_key: {{ required "secret_access_key is required" .Values.s3.secret_access_key }}
    {{ if hasKey .Values "dev" }}
    dev:
      {{- toYaml .Values.dev | nindent 6 }}
    {{ end }}
