{{- $name := .Release.Name -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}-config
  labels:
    "app.kubernetes.io/name": {{ $name }}
type: Opaque
stringData:
  config.yaml: |
    debug: {{ .Values.debug }}
    s3:
      region: {{ required "region is required" .Values.s3.region }}
      access_key_id: {{ required "access_key_id is required" .Values.s3.access_key_id }}
      secret_access_key: {{ required "secret_access_key is required" .Values.s3.secret_access_key }}
    db:
      provider: {{ required "db.provider is required" .Values.db.provider }}
      {{- if not (has .Values.db.provider (list "inmemory" "rqlite")) }}
      {{- fail (printf "db.provider must be 'inmemory' or 'rqlite', got: %s" .Values.db.provider) }}
      {{- end }}
      {{- if eq .Values.db.provider "rqlite" }}
      rqlite:
        baseUrl: {{ required "db.rqlite.baseUrl is required" .Values.db.rqlite.baseUrl }}
        username: {{ required "db.rqlite.username is required" .Values.db.rqlite.username }}
        password: {{ required "db.rqlite.password is required" .Values.db.rqlite.password }}
      {{- end }}
    auth:
      basic:
        username: {{ required "username is required" .Values.auth.basic.username }}
        password: {{ required "password is required" .Values.auth.basic.password }}
    {{ if hasKey .Values "dev" }}
    dev:
      {{- toYaml .Values.dev | nindent 6 }}
    {{ end }}
