{{- $name := .Release.Name -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}-config
  labels:
    "app.kubernetes.io/name": {{ $name }}
type: Opaque
stringData:
  config.yaml: |
    debug: {{ .Values.debug }}
    s3:
      access_key_id: {{ .Values.s3.access_key_id }}
      secret_access_key: {{ .Values.s3.secret_access_key }}
