---
name: Publish

on:
  push:
    tags:
      - "*"

env:
  REGISTRY: ghcr.io

jobs:
  chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | \
            helm registry login ${{ env.REGISTRY }}/${{ github.repository_owner }} --username ${{ github.actor }} --password-stdin

      - name: Package and push
        working-directory: ./chart
        run: |
          helm package .
          helm push *.tgz oci://${{ env.REGISTRY }}/${{ github.repository_owner }}/charts
