---
name: Test
on:
  pull_request:
    paths-ignore:
      - "docs/**"

jobs:
  unit:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Run unit tests
        run: make test-unit

  e2e:
    runs-on: ubuntu-latest
    needs: [unit]

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Install k3d
        run: |
          wget -q -O - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash

      - name: Run e2e tests
        run: make test-e2e
